@import "tailwindcss";

*{
  font-family:"Oswald", sans-serif;
}
/* npm install --save @fortawesome/react-fontawesome @fortawesome/free-brands-svg-icons @fortawesome/fontawesome-svg-core @fortawesome/free-solid-svg-icons */

header{
  background-image: url('https://i.pinimg.com/originals/39/2f/50/392f50c714cf6bf549e5878a913c996d.gif');
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main{
  height: 500px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.316);
}

#authPage{
  background-image: url('https://i.pinimg.com/originals/39/2f/50/392f50c714cf6bf549e5878a913c996d.gif');
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}